h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2em
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.33em
}

h3 {
  font-family: 'Arial', sans-serif;
  font-size: 1em
}


h4 {
  font-family: 'Arial', sans-serif;
  font-size: 1em
}

h5 {
  font-family: 'Arial', sans-serif;
  font-size: 0.8em
}
