@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  text-transform: uppercase;
}


h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.em
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.6em
}

.field-list dt {
  background-color: #f8f9fa;
  padding: 0.15rem 0 0.15rem 0.5rem;
}

body {
  font-size: 0.975em;
  text-align: justify;
}

.theme-toggle-container {
  display: none
}

.toggle .header {
  display: block;
  clear: both;
}

.toggle .header:after {
  content: " ▶";
}

.toggle .header.open:after {
  content: " ▼";
}
