-r requirements.txt

# compile
torch>=2.0.*

# iterative problem
higher

# formatting
black

# examples
scikit-learn>=0.23.1
numpy>=1.19.0

# sphinx
sphinx>=4.0
furo
myst_parser>=0.15
sphinx_design
sphinx_inline_tabs
